<%= form_for(@download_excel) do |f| %>
  <% if @download_excel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@download_excel.errors.count, "error") %> prohibited this download_excel from being saved:</h2>

      <ul>
      <% @download_excel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fristname %><br>
    <%= f.text_field :fristname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
